/* #color {
    background-color: #000;
}
#red {
    background-color: #ff0000;
}
#green {
    background-color: #00ff2f;
}
#blue {
    background-color: #0400ff ;
}
#pink {
    background-color: #ff00c3 ;
}
#cyan {
    background-color: #00bbff ;
}
#gray {
    background-color:#202020;
}
#purple {
    background-color:#6a00ff ;
} */
/* .box{
    width: 50%;
    height: 300px;
    background-color: seagreen;
    border-radius: 100px;
} */

p {
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 2em;
    text-decoration: underline dotted red;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}