.container{
    border: 5px solid rgb(184, 79, 79);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.child{
    background-color: #2727EB;
    border: 5px solid #501042;
    width: 50px;
    height: 50px;
}