/* 
CSS TRANSFORMATIONS
----------------------
transform - gardakmna 
scale - zoma, gebulobs ricxvit parametrs
rotate - mobruneba, gebulobs gradus erteuls
translate - gadatana, gebulobs erteulebs px
skew - gawelva,


transition - gadasvla

*/
body{
    height: 100vh;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgb(146, 146, 146);
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: all ease-in;
    transition-duration: 1.5;
    transition-timing-function: cubic-bezier(0.28,-0.3, 0, 1.49);
    transition-delay: 2s;
}
.container:hover{
    background-color: black;
    transform: scale(1.1);
    width: 600px;
    text-align: center;
    color: white;
}

/*  

transition: rame 2s;

:hover {
    aq rasac gvinda vizavt da es gagrdzeldeba ori wamit
}

*/




    /* transition

    transition-property - kutvnileba romelsac unda davamatot gadasvlisas
    transition-duration - gadasvlis xangrdzlivoba
    transition-timing function - droiti funqcia
    transition-delay - gadasvlis dayovneba
    */

    /* transform-origin: bottom left; */
    /* transform: translate(200px, -150px); */
    /* transform: rotate(20deg); */
    /* transform: scale(1.2); */
    /* transform: scaleX(1.2); izrdeba siganeshi */
    /* transform: scaleY(1.2); izrdeba simagleshi*/
    /* transition-duration: 2s; */