.box{
    background-color: blue;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.button{
    width: 20%;
    height: 20%;
    font-size-adjust: 1;
}
@media (max-width: 500px) {
    .box{
        background-color: rgb(255, 0, 0);
        gap: 20px;
    }
    .button{
        width: 150px;
        height: 40px;
    }
}
@media (max-width: 1000px) {
    .box{
        background-color: rgb(129, 118, 118);
        gap: 20px;
    }
    .button{
        width: 150px;
        height: 60px;
    }
}
@media (max-width: 1500px) {
    .box{
        background-color: rgb(70, 63, 129);
        gap: 20px;
    }
    .button{
        width: 150px;
        height: 70px;
    }
}
@media (max-width: 2000px) {
    .box{
        background-color: rgb(9, 255, 0);
        gap: 20px;
    }
    .button{
        width: 150px;
        height: 90px;
    }
}