/* ul{
    list-style-type: disc;
    list-style-position: inside;
    list-style-image: url(image.png)
}
ol{
    list-style-type: square;
    list-style-position: inside;
    list-style-image: url(image.png);
} */


















input {
    border: 1px solid gray;
    color: red;
    background-color: black;
    width: 200px;
    height: 25px;
    border-radius: 8px;
    /* border-top-right-radius: 30%; */
}
input[type='email'] {
    background-color: rgb(185, 162, 28);
}
input[type='password'] {
    background-color: rgb(185, 162, 28);
}
input[type='name']:focus {
    background-color: rgb(255, 255, 255);
}