.header{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -15%);
    display: flex;
    background: #ffffff;
    width: 100%;
    padding: 0 0;
    justify-content: center;
    gap: 40px;
}
a{
    display: flex;
    margin: 40px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family:sans-serif;
    font-weight: 500;
    position: relative;
    list-style: none;
    cursor: pointer;
}
body{
    background-color: rgb(0, 0, 0);
}
image{
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    vertical-align: middle;
}
.image{
    width: 100%;
    height: auto;
    display: block;
}
.wrapper{
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
}
.intro{
    flex: 1;
}
p{
    font-size: 20px;
}
.full-image{
    width: 100%;
    height: auto;
    display: block;
    animation-name: slideLeft;
    animation-duration: 1s;
}
@keyframes slideLeft {
    from{transform: translateX(100%);}
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: px;
    gap: 20px;
}
.card{
    width: 350px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card:hover{
    animation-name: glow;
    animation-duration: 3s;
}
.card img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 16px;
    color: #fff;
}